.searchPage__info {
  padding: 20px;
}

.searchPage__info > p {
  margin-bottom: 10px;
  font-size: 14px;
}

.searchPage__info > h1 {
  margin-bottom: 10px;
}

.searchPage__info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
}

.searchPage__city {
  padding: 20px 0 0 20px;
}

.searchPage__city button {
  text-transform: inherit;
  margin: 5px;
  text-decoration: none;
}

.searchPage__city a {
  text-decoration: none;
  padding-right: 10px;
}
