.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 101;
  width: 100%;
  padding: 10px 0px;
}

.header__logo {
  object-fit: contain;
  height: 60px;
  margin-left: 80px;
}

.header_center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
}

.header_center > input {
  border: 0;
  outline-width: 0;
  padding: 10px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  margin-right: 80px;
}

.header__right ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.header__right ul li {
  flex: auto;
}
