.place__tile {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
}

.place__tile--left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-align: left;
}

.place__tile img {
  width: 100%;
}

.place__tile span {
  padding: 2px 5px;
  background-color: white;
  color: #000;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 600;
}

.place__tile p {
  font-size: 1.6em;
  line-height: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
