.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title > a {
  padding-right: 20px;
  color: #484848;
  text-decoration: none;
}

.title > a:hover {
  text-decoration: underline;
}
